* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-dark: #060B1D;
    --color-blue: #1A6DFF;
    --color-text: #ffffff80;
    --font-display-sm: 44px;
    --font-display-md: 52px;
    --font-display-lg: 60px;
    --font-display-xl: 68px;
    --font-display-xxl: 76px;
    --font-body: 16px;
    --font-body-sm: 14px;
    --font-body-xs: 12px;
}

@font-face {
    font-family: 'Caros Regular';
    font-style: normal;
    font-weight: normal;
    src: url(https://samuelurbi.com/src/assets/fonts/caros-webfont/Caros.woff) format('woff');
}
@font-face {
    font-family: 'Cooper Std Black';
    font-style: normal;
    font-weight: normal;
    src: url(https://samuelurbi.com/src/assets/fonts/cooper-black-webfont/CooperBlack-Std.ttf) format(truetype), url(https://samuelurbi.com/src/assets/fonts/cooper-black-webfont/CooperBlack-Std.woff) format('woff');
}
html {
    font-family: Caros, Helvetica, sans-serif;
    color: white;
}
body {
    background-image: url(https://samuelurbi.com/src/assets/img/grid-texture-v1.0.png);
    background-color: var(--color-dark);
    background-size: 32px;
    background-position: 0px;
    position: relative;
}
div {
    position: relative;
}
ul {
    list-style-type: none;
  }
.section {
    padding: 0 8%;
    max-width: 1420px;
    margin: 0 auto;
}



/*-----Fonts Styles-----*/

h1 {
    font-size: 40px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20;
}
h6 {
    font-size: 16;
}

/*-----*/

p {
    font-size: var(--font-body);
    color: var(--color-text);
}
a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    position: relative;
}

/*-----*/

.cooper {
    font-family: Cooper Std Black;
    letter-spacing: 1px;
}
.weight-regular {
    font-weight: 400;
}
.weight-bold {
    font-weight: 600;
}
.weight-black {
    font-weight: 800;
}
.display-sm {
    font-size: var(--font-display-sm);
}
.display-md {
    font-size: var(--font-display-md);
}
.display-lg {
    font-size: var(--font-display-lg);
}
.display-xl {
    font-size: var(--font-display-xl);
}
.display-xxl {
    font-size: var(--font-display-xxl);
}
.body-sm {
    font-size: var(--font-body-sm);
}
.body-vm {
    font-size: var(--font-body-xs);
}
.color-blue {
    color: var(--color-blue);
}
.color-dark {
    color: var(--color-dark);
}
.color-text {
    color: var(--color-text);
}
.color-white {
    color: white;
}



/*-----Buttons-----*/

.button-link {
    padding: 12px 32px;
    border-radius: 6px;
    font-size: var(--font-body-sm);
    font-weight: 600;
    position: relative;
    overflow: hidden;
}
.primary-cta {
    background-color: var(--color-blue);
    border-top: 1px solid #ffffff4D;
    border-bottom: 2px solid #00000080;
}
.secundary-cta {
    background-color: #0E1737;
    border-top: 1px solid #ffffff14;
    border-bottom: 2px solid #00000040;
}
.primary-cta::before {
    content: '';
    width: 200px;
    height: 200px;
    top: 0;
    bottom: -1px;
    left: -25px;
    right: 0;
    margin: auto;
    background-color: #ffffff12;
    position: absolute;
    transform: scale(0);
    transition: .3s;
    border-radius: 100%;
}
.primary-cta:hover::before {
    transform: scale(1);
}
.secundary-cta::before {
    content: '';
    width: 200px;
    height: 200px;
    top: 0;
    bottom: -1px;
    left: -25px;
    right: 0;
    margin: auto;
    background-color: #00000014;
    position: absolute;
    transform: scale(0);
    transition: .3s;
    border-radius: 100%;
}
.secundary-cta:hover::before {
    transform: scale(1);
}



/*/-----Media Querys/-----*/

@media only screen and (max-width: 768px) {
    .section {
        padding: 0 20px;
    }
}
  /*--breakpoint-xs: 0px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 912px;
    --breakpoint-xl: 1024px;
    --breakpoint-xxl: 1200px;*/
